* {
box-sizing: border-box;
text-align: center;
}

body{
text-align: center;
font-weight: 300;
color: black;
font-family: 'Alegreya', sans-serif;
background: lightgray;
padding: 15px;
padding-bottom: 0;
margin: 0 auto;

}

p{
    font-weight: 40px;
}

.header-name{
    font-size: 40px;
    font-weight: bold;
}

.wrap{
    margin: 0 auto;
}

.container{
    background: #fff;
    margin: 5px;
    padding: 5px;
}

li{
    list-style: none;
    margin: 2px;
    background: lightgray;
    font-size: 20px;
    padding: 2px;
}

a{
    text-decoration: none;
    color: blue;
}

img{
    width: 100%;
}

.name{
    float: left;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.main-nav{
padding-left: 0;
}

.b-top{
    float: right;
}

.main-nav2{
    display: none;
}

@media(min-width: 768px){

    body{
        background: lightgray;
    }

    h2{
        margin: 5px;
    }

    .header-name{
        margin-bottom: 0;
    }

    .main-nav,
    .main-nav a{
        display: inline-flex;
        background: lightgray;
    }

    li a{
        background: lightgray;
        color: black;
        margin: 20px;
        margin-bottom: 0;
    }

    .banner{
        text-align: left;
        padding-top: 1em;
        padding-bottom: 2em;
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .profile-line{
        width: 80%;
        font-size: 20px;
    }

    .profile{
        width: 33%;
        float: right;
        margin: 10px;
        margin-top: 0;
    }

    .portfolios{
        float: left;
        width: 45%;
    }

    .col{
        padding-left: 1em;
        padding-right: 1em;
    }

    .b-top{
        display: none;
    }

    .main-nav2{
        display: inline-flex;
        background: lightgray;
        float: right;
    }

    .name{
        float: left;
        font-size: 20px;
        padding-top: 20px;
        margin: 0;
    }
}

@media(min-width: 1024px){

    body{
        background: lightgray;
    }

    .main-header{
        display: inline-block;
        width: 100%;
    }

    .main-nav{
        float: right;
    }

    .header-name{
        float: left;
        font-size: 35px;
        padding-left: 25px;
    }

    .profile{
        width: 30%;
        padding: 0;
        margin: 0;
    }

    .profile-line{
        width: 60%;
        font-size: 25px;
        padding-top: 25px;
    }

    .banner{
        padding-bottom: 90px;
        padding-top: 0;
    }

    .portfolios{
        width: 28%;
        float: right;
    }

    img{
        max-width: 100%;
    }

    .col{
        padding-left: 1.25em;
        padding-right: 1.25em;
    }

    .container{
        width: 90%;
        margin: auto;
    }
}

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}